.home {
	background: url(../../images/image/Home-bg.jpg) no-repeat center center / cover;
	height: 100vh;
	position: relative;
	overflow-x: hidden;
	color: white;
}

.home-content {
	margin-top: 100px;
}

.home-images {
	margin-top: 100px;

}

.home-content h1 {
	font-size: 80px;
}

.home-images h5 {

	line-height: 43px;
	color: #fff;
	position: absolute;
	bottom: 30px;
	left: 20px;
}

.home-images img:hover {
	box-shadow: 5px 5px 5px gold;
	transition: 0.5s;
}